<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group form-inline">
          <label for="title" class="mr-3">Title</label>
          <input type="text" class="form-control mr-3" id="title" required ngModel name="title" />
          <label for="key" class="m-3">key</label>
          <input type="text" class="form-control" id="key" ngModel name="key" />
        </div>
        <div class="form-group form-inlines">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" required ngModel name="content"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
          Send Post
        </button>
        <button class="m-3 btn btn-primary" type="button" [disabled]="!postForm.valid" (click)="onPut(postForm)">
          Send Put
        </button>
        <button class="m-3 btn btn-primary" type="button" (click)="onFetchPosts()">
          Fetch Posts
        </button>
        <button class="mr-3 btn btn-primary col-md-offset-3" type="button" [disabled]="loadedPosts.length < 1"
          (click)="onDeletePosts()">Delete Posts
        </button>
        <button class="mr-3 btn btn-primary col-md-offset-3" type="button" (click)="onClear()">Clear
        </button>
        <button class="btn btn-primary" (click)="onTest(postForm)" type="button">
          Test
        </button>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <div style="font-weight: bold;">{{post.title}}</div>
          <div>{{post.content}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>