<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css-->
<nav class="nav">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link1</a>
  <a class="nav-link" href="#">Link2</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<div>
<h1>The app component</h1>
<div class="container">
  <div class="row">
    <div class="col-sm" style="background-color:yellow;">
      <app-cmp1></app-cmp1>
    </div>
    <div class="col-sm" style="background-color:pink;">
      <app-cmp2></app-cmp2>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>