<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet">
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css-->
<!--link rel="stylesheet" href="http://localhost:4200/assets/mystyles.css"-->
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link nav-item " href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-item  active" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
<div>
<p>The app component title</p>
<p myattribute>the app component content</p>
<div class="container test">
  <div class="row">
    <div class="col-sm" >
      <app-cmp1></app-cmp1>
    </div>
    <div class="col-sm">
      <app-cmp2></app-cmp2>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>